nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 53px;
	background-color: #212121;
	z-index: 2;
}
header {
	position: relative;
}
.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style: none;
	&_link {
		color: #FFFFFF;
		font-weight: 300;
		font-size: 15px;
		text-decoration: none;
		&:hover {
			background-color: rgba(0, 0, 0 , 0.3);
		}
	}
	&_item {
		border-right: 2px dotted black;
		padding-right: 45px;
		&:last-child {
			border: 0;
		}
	}
}

.hamburger {
	display: none;
}

.subheader {
	margin-top: 53px;
	position: absolute;
	width: 100%;
	height: 86px;
	background-color: rgba(0, 0, 0, .6);
	&_logo {
		display: block;
		max-width: 100%;
		margin-top: 16px;
	}
	&_official {
		font-weight: 400;
		font-size: 13px;
		color: #ffffff;
		opacity: 0.5;
		margin-top: 6px;
	}
	&_call {
		margin-top: 19px;
		color: #FFFFFF;
		font-size: 12px;
		font-weight: 300;
		text-align: right;
	}
	&_phone {
		display: block;
		font-weight: 400;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 22px;
		margin-top: 8px;
		line-height: 12px;
		text-align: right;
	}
	&_btn {
		margin-top: 19px;
		width: 172px;
		height: 46px;
		box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
		border: none;
		border-radius: 4px;
		background-image: linear-gradient(to top, $blue-color 0%, #4ce2ff 100%);
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		@include btn_hover();
	}
}

.promo {
	min-height: 800px;
	background: url(../img/bg/uber_bg.jpg) center center/cover no-repeat;
	padding: 150px 0 135px 0;
	&_header {
		font-size: 60px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 60px;
		text-align: center;
		margin-top: 69px;
	}
	&_subheader {
		font-size: 36px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 36px;
		margin: 0;
		margin-top: 22px;
		text-align: center;
	}
	&_descr {
		color: #fff;
		line-height: 24px;
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		margin-top: 23px;
	}
	&_btn {
		display: block;
		margin: 118px auto 0;
		width: 259px;
		height: 63px;
		box-shadow: inset 0 -4px 0 rgba(0, 0, 0 , 0.12);
		border: none;
		border-radius: 4px;
		background-image: linear-gradient(to top, $blue-color 0%, #4ce2ff 100%);
		color: #fff;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 18px;
		@include btn_hover();
	}
}
.benefits {
	padding: 20px 0 64px 0;
	.row {
		margin-top: 16px;
	}
	&_card {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		min-height: 128px;
		margin-top: 26px;
		p {
			margin: 0;
		}
		&_content {
			max-width: 371px;
		}
		&_icon {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $blue-color;
			border-radius: 100%;
			width: 116px;
			height: 116px;
			flex: none;
			margin-right: 25px;
			img {
				display: block;
				max-width: 100%;
			}
		}
		&_header {
			color: $blue-color;
			font-size: 17px;
			font-weight: 400;
		}
		&_text {
			font-size: 15px;
			font-weight: 300;
			color: #202020;
			line-height: 21px;
		}
	}

}

.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url(../img/bg/mobile_bg.jpg) center center/cover no-repeat;

	.row {
		margin-top: 30px;
	}

	&_item {
		position: relative;
		width: 320px;
		height: 280px;
		margin: 0 auto;
		margin-bottom: 19px;
		padding-top: 92px;

		&_1 {
			background: url(../img/mobile-app/card-1.jpg) center center/cover no-repeat;
		}
		&_2 {
			background: url(../img/mobile-app/card-2.jpg) center center/cover no-repeat;
		}
		&_3 {
			background: url(../img/mobile-app/card-3.jpg) center center/cover no-repeat;
		}
		&_4 {
			background: url(../img/mobile-app/card-4.jpg) center center/cover no-repeat;
		}
		&_5 {
			background: url(../img/mobile-app/card-5.jpg) center center/cover no-repeat;
		}
		&_6 {
			background: url(../img/mobile-app/card-6.jpg) center center/cover no-repeat;
		}

		&_subtitle {
			font-size: 24px;
			color: #FFFFFF;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			line-height: 31px;
		}

		&_plus {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			bottom: 35px;
			left: 50%;
			transform: translateX(-50%);
			width: 26px;
			height: 26px;
			background-color: #000;
			margin: 0 auto;
			border-radius: 100%;
			padding: 6px;
			cursor: pointer;
			&::before {
				content: "";
				display: block;
				width: 14px;
				height: 2px;
				background-color: $blue-color;
				transition: 0.3s all;
			}
			&::after {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				content: "";
				display: block;
				width: 2px;
				height: 14px;
				background-color: $blue-color;
				transition: 0.3s all;

			}
			&:hover {
				&::before, &:after {
					background-color: $red-color;
				}
			}
		}
	}
}

.car {
	position: relative;
	min-height: 896px;
	padding: 56px 0 137px 0;
	background: url(../img/bg/car_bg.jpg) center 499px/cover no-repeat, #070716;
	.label {
		background-color: #fff;
		color: #070716;
	}
	.title {
		color: #FFFFFF;
		margin-top: 26px;
	}
	.subtitle {
		color: #FFFFFF;
	}
	&_img {
		max-width: 759px;
		margin: 54px auto 0 auto;
		img {
			width: 100%;
			z-index: 8;
		}
		&_describe {
			text-align: center;
			font-size: 17px;
			color: #222222;
			font-weight: 300;
			line-height: 24px;
		}
	}
}

.require {
	padding: 68px 0 84px 0;
	&_block {
		margin: 33px 0;
		&_nmb {
			margin-bottom: 0;
		}
	}
	&_title {
		color: #1ca8c3;
		font-size: 22px;
		font-weight: 400;
	}
	&_list {
		list-style: none;
		padding-left: 50px;
		margin-top: 22px;
		li {
			position: relative;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 20px;
			&::before {
				content: "";
				display: block;
				position: absolute;
				left: -32px;
				top: 3px;
				width: 21px;
				height: 20px;
				background: url("../icons/check-blue.png") center center/cover no-repeat;
			}
		}
	}
	&_descr {
		font-size: 17px;
		color: #1ca8c3;
		font-weight: 300;
		line-height: 24px;
	}
	.warning {
		.require_title {
			color: $red-color;
		}
		.require_list {
			li {
				&:before{
					background: url("../icons/check-red.png") center center/cover no-repeat;
				}
			}
		}
	}

}

.cities {
	position: relative;
	min-height: 716px;
	padding: 46px 0 21px 0;
	background: url(../img/bg/world_bg.jpg) center center/contain no-repeat, #080816;

	.label {
		height: 27px;
		width: 79px;
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		background-color: #FFFFFF;
		color: #070716;
		line-height: 11px;
		font-size: 11px;
	}
	.title {
		color: #FFFFFF;
		margin-top: 26px;
	}
	.subtitle {
		color :#FFFFFF;
	}
	&_link {
		position: absolute;
		bottom: 21px;
		left: 50%;
		transform: translateX(-50%);
		padding: 30px 13px;

		font-size: 15px;
		color: #1FBAD6;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;

		transition: 0.2s all ease-in-out;

		&:hover {
			background-color: rgba($color: #1FBAD6, $alpha: 0.05);
		}
	}
}

.footer {
	min-height: 154px;
	padding: 48px 11px 37px 11px;
	&_content {
		position: relative;
		width: 100%;
		// display: flex;
		// justify-content: center;
		&_social-links {
			// position: absolute;
			// left: 0;
			a {
				position: relative;
				display: inline-block;
				background-color: #070716;
				width: 32px;
				height: 32px;
				border-radius: 100%;
				img {
					display: block;
					position: absolute;
					transform: translate(-50%, -50%);
					top: 50%;
					left: 50%;
					max-width: 100%;
				}
			}
			a + a {
				margin-left: 6px;
			}
		}
		&_main-links {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			&::before {
				content: "";
				position: absolute;
				top: -27px;
				width: 299px;
				height: 4px;
				background-color: #1FBAD6;
			}
			ul {
				text-transform: uppercase;
				display: flex;
				list-style: none;
				padding: 0;
			}
			&_sections {
				text-align: center;
				ul {
					flex-wrap: wrap;
					a {
						position: relative;
						font-size: 15px;
						font-weight: 300;
						color: #070716;
						text-decoration: none;
						transition: 0.2s all;
						&::before {
							position: absolute;
							content: "";
							width: 0%;
							bottom: -2px;
							height: 1px;
							background-color: #070716;
							transition: 0.2s all ease-in-out;
						}
						&:hover {
							&::before {
								width: 100%;
							}
						}
					}
					li + li {
						margin-left: 42px;
					}
				}
			}
			&_about {
				text-align: center;
				ul {
					text-transform: uppercase;
					a {
						font-size: 11px;
						color: #999999;
						text-decoration: none;
						font-weight: 300;
					}
					li + li {
						margin-left: 18px;
						
					}
				}
			}
			&_lang {
				a {
					font-size: 11px;
					font-weight: 400;
					color: #1FBAD6;
					text-decoration: none;
				}
			}
		}
		&_app-links {
			display: flex;
			gap: 6px;
			justify-content: flex-end;
		}
	}


}

.label {
	color: #FFFFFF;
	background-color: #000;
	width: 112px;
	font-size: 11px;
	font-weight: 400;
	line-height: 11px;
	padding: 6px 6px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
}
.title {
	color: #222222;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	line-height: 38px;
	margin-top: 33px;
    text-transform: uppercase;
}

.subtitle {
    color: #222222;
    font-size: 17px;
    font-weight: 400;
    margin-top: 13px;
    text-align: center;
}

.xs-visible {
	display: none;
}

